body {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("/weather.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#__next {
  max-width: 960px;
  width: 100%;
  margin: auto 0px;
  padding: 0px 1rem;
}
